body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

li  {
  list-style: none;
}

button {
  background: #fff;
  line-height: 34px;
  padding: 5px;
  text-align: center;
  border: none;
}
